# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.idea/
out/
web/WEB-INF/classes/
target/

#svn
.svn/
conf/
db/
hooks/
locks/
format
README.txt
svn.ico
# Other files and folders
.settings/

# Executables
*.iml
*.swf
*.air
*.ipa
*.apk
*.jar


.idea/
.idea
debug/
debug
*.jar
out
out/

class/
/class/
*.class

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
