<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhky.icCardCreate.dao.CreateCardDao">
    <!--
 * Created by IntelliJ IDEA.
 * User: 波罗的海
 * Date: 2021/10/31
 * Time: 14:27
-->

<!--    //查询当前登录用户有多少张卡，-3失效卡，-2正在注销中，-1正在挂失中，0申请恢复中，1正常-->
<!--    List<CardOfUser> getUsersCards(Long uid);-->
    <select id="getUsersCards" parameterType="java.lang.Long" resultType="com.nhky.pojo.CardOfUser">
        select * from ic_card_msg where user_id = #{uid}
    </select>
</mapper>