<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhky.icCardRecharge.dao.RechargeDao">
    <!--
 * Created by IntelliJ IDEA.
 * User: 波罗的海
 * Date: 2021/12/4
 * Time: 17:15
-->


<!--    //查看当前正在使用的卡-->
<!--    public List<Long> usingCard(@Param("uid")Long uid);-->
    <select id="usingCard" parameterType="java.lang.Long" resultType="map">
            SELECT id as id FROM `ic_card_easy_msg` WHERE id IN (
                    SELECT `card_id` FROM `ic_card_msg` WHERE `user_id` = #{uid}
                ) AND `card_status` = 1
    </select>
<!--    //查看卡内余额-->
<!--    public Map<String,Object> cardMsg(@Param("cid")Long cid);-->
    <select id="cardMsg" resultType="map" parameterType="java.lang.Long">
            SELECT
            imu.`easy_id` AS uId,imu.`name` AS uName,imu.`identify_card` AS uIdentify,imu.`phone` AS uPhone,imu.`email` AS uEmail,imu.`head_url` AS uHead,imu.`register_identify` AS uRegisterIdentify,imu.`money_balance` AS uBalance,
            icem.`id` AS cId,icem.`blance` AS cBalance,icem.`create_date` AS cCreateDate,icem.`card_status` AS cStatus,
            ict.`type_name` AS cName,ict.`icon` AS cIcon,ict.`count` AS cCount
            FROM `ic_card_easy_msg` AS icem
            LEFT JOIN `ic_card_type` AS ict ON ict.`type_name` = icem.`card_type_type`
            LEFT JOIN `ic_card_msg` AS icm ON icm.`card_id` = icem.`id`
            LEFT JOIN `ic_main_user` AS imu ON imu.`easy_id` = icm.`user_id`
            WHERE icem.`id` = #{cid}
    </select>
<!--    //给卡充值-->
<!--    public Integer chrageMoneyForCard(@Param("money") String money,@Param("cid")Long cid);-->
    <update id="chrageMoneyForCard">
            UPDATE `ic_card_easy_msg` SET `blance` = `blance` + #{money} WHERE `id` =#{cid}
    </update>
<!--    //添加充值记录信息-->
<!--    public Long addRechargeHistory(@Param("money") Float money,@Param("cid") Long cid,@Param("mark") String mark);-->
    <insert id="addRechargeHistory" useGeneratedKeys="true" keyColumn="id" parameterType="com.nhky.pojo.CardRechargeVO">
            INSERT INTO `ic_recharge_node`
            (`recharge_money`,`recharge_time`,`blance`,`note`,`status`)
            VALUES
            (#{recharge_money},NOW(),(SELECT `blance` FROM `ic_card_easy_msg` WHERE `id` = #{cid}),#{note},1)
    </insert>
<!--    //添加充值记录子表信息-->
<!--    public Integer addSubHistory(@Param("rid")Long rid,@Param("uid")Long uid,@Param("cid")Long cid);-->
    <insert id="addSubHistory">
            INSERT INTO `ic_recharge_record`
            (`recharge_id`,`card_id`,`user_id`,`status`)
            VALUES
            (#{rid},#{cid},#{uid},1)
    </insert>
</mapper>