.my-radio {
    display: flex;
    /* 让子元素垂直排列 */
    flex-direction: row;
}
.my-radio label {
    margin: 5px;
    display: flex;
    /* 鼠标移入变小手 */
    cursor: pointer;
}
.my-radio label input {
    /* 隐藏元素 先显示出来 */
    display: none;
}
/* + 是相邻兄弟选择器 */
.my-radio label input + span {
    display: flex;
    /* 让伪元素和文字水平排列 */
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 40px;
    border-radius: 90px;
    transition: all 0.3s;
}
/* 鼠标移入变背景颜色 */
.my-radio label input + span:hover {
    background-color: rgba(4, 167, 140, 0.3);
}
/* 选中单选按钮对应的span元素背景颜色改变 */
.my-radio label input:checked + span {
    background-color: rgba(4, 167, 140, 0.31);
}
.my-radio label input + span::before {
    content: "";
    /* 伪元素是行内元素 需要转为块级元素才能设置宽高 */
    display: block;
    width: 20px;
    height: 20px;
    /* 圆角属性 */
    border-radius: 50%;
    margin-right: 15px;
    background-color: #fff;
    /* 盒子阴影 inset是内部阴影 */
    box-shadow: 0 0 0 5px var(--sub_color) inset;
    /* 加个过渡时间 */
    transition: all 0.3s;
}
.my-radio label input:checked + span::before {
    /* 选中的元素内部的阴影加深 */
    box-shadow: 0 0 0 15px var(--sub_color) inset;
}
