

   /* 遮罩层 */
.msg-show {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 200px;
   height: 250px;
   background-color: rgba(0, 0, 0, 0.2);
   z-index: 99;
}
*{
    transition: all 0.5s;
}
/* 弹窗 */
.msg-content {
    display: none;
    position: fixed;
    top: 20%;
    left: 65%;
    margin-left: -30%;
    width: 350px;
    height: 350px;
    min-width: 31.125rem;
    min-height: 18.625rem;
    border-radius: 5px;
    background-color: white;
    z-index: 99;
    box-shadow: 0 0 10px #666;
}
.msg-content>.logo{
    display: inline-block;
    position: fixed;
    /*transform: translate(315px,10px);*/
    margin: 10px;
    padding: 0 2px 1px 2px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #2b92d4;
    color: #fff;
    font-weight: 800;
}
   .msg-content .msg-body {
    position: relative;
    width: 100%;
    height: 100%;
}

   .msg-content .msg-body .mb_revise {
       position: relative;
       margin-top: 10px;
       margin-bottom: 10px;
        padding: .625rem 0 0 1.5625rem;
}

   .msg-content .msg-body .mb_revise>p {
    padding-left: .25rem;
    margin-top: 2.125rem;
    font-family: 'FangSong', Times, serif;
    font-size: 15px;
    border-left: solid .125rem royalblue;
}
   .msg-content .msg-body .mb_revise .icon{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 100%;
    box-shadow: 0 0 100px #e1f0ff;
    transform: translate(-50%,0);
    /*margin-top: 45px;*/
    /*background: url("http://localhost:8080/nchkkjxy/pic/login/忘记密码.png") no-repeat center;*/
    background-size: cover;
}
/* 确定和取消 */
   .msg-content .msg-body .determine,
   .msg-content .msg-body .cancen {
    position: absolute;
    width: 5rem;
    height: 3rem;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 .125rem .125rem rgb(107, 96, 96);
       margin-bottom: 10px;
    cursor: pointer;
}

   .msg-content .msg-body .determine {
    right: 8.5rem;
    bottom: .725rem;
    background-color: rgba(9, 139, 245, 0.788);
}

   .msg-content .msg-body .cancen {
    right: 2rem;
    bottom: .725rem;
    background-color: rgba(212, 37, 37, 0.788);
}

   .msg-content .msg-body .determine:hover,
   .msg-content .msg-body .cancen:hover {
    color: #fff;
    box-shadow: 0 .134rem .1275rem rgb(58, 57, 57);
}

   .msg-content .msg-body .determine:active,
   .msg-content .msg-body .cancen:active {
    box-shadow: 0 .134rem .1275rem rgba(230, 227, 227, .758);
}


/*提示弹窗*/
   .my_tip{
       position: absolute;
       display: none;
       top: 50%;
       left: 50%;
       color: #fff;
       font-size: 14px;
       transform: translate(-50%,-50%);
       background-color: rgba(4, 167, 140,0.6);
       /*display: inline-block;*/
       padding: 5px 15px;
       border-radius:2px;
       opacity: 0;
       z-index: 99;
   }

   .my_tip span{
       padding: 2px;
       text-align: center;
       color: #fff;
   }