<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">
    <!--
 * Created by IntelliJ IDEA.
 * User: 波罗的海
 * Date: 2021/9/19
 * Time: 20:58
-->

    <context:component-scan base-package="com.nhky" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
    </context:component-scan>

    <mvc:default-servlet-handler/>
    <mvc:annotation-driven/>
<!--    <mvc:resources mapping="/create-card-css/" location="/staticRes/css/icCardCreate/**"/>-->
<!--    <mvc:resources mapping="/create-card-icon/" location="/staticRes/icon/icCardCreate/**"/>-->
<!--    <mvc:resources mapping="/create-card-js/" location="/staticRes/js/icCardCreate/**"/>-->
    <mvc:resources mapping="/staticRes/css/icCardCreate/" location="/staticRes/css/icCardCreate/**"/>
    <mvc:resources mapping="/staticRes/icon/icCardCreate/" location="/staticRes/icon/icCardCreate/**"/>
    <mvc:resources mapping="/staticRes/js/icCardCreate/" location="/staticRes/js/icCardCreate/**"/>


    <mvc:resources mapping="/theame/chart/" location="theame/chart/**"/>
    <mvc:resources mapping="/theame/css/" location="theame/css/**"/>
    <mvc:resources mapping="/theame/js/" location="theame/js/**"/>
<!--    <mvc:resources mapping="/static/js/" location="staticRes/js/"/>-->
    <mvc:resources mapping="/theame/img/" location="theame/img/**"/>
    <mvc:resources mapping="/pic/card/" location="pic/card/**"/>
<!--    <mvc:resources mapping="/pic/createCardType/" location="pic/createCardType/**"/>-->
<!--    <mvc:resources mapping="/css/" location="/WEB-INF/static/"/>-->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>